<!-- books.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <h1>Books</h1>
    <table>
        <tr>
            <th>Book</th>
            <th>Borrower</th>
            <!-- <th>Borrow Date</th>
            <th>Return Date</th> -->
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <% for (var i=0; i<books.length; i++) { %>
            <tr>
                <td><%= books[i].title %></td>
                <td><%= books[i].borrower ? books[i].borrower.name : 'N/A' %></td>
                <!-- <td><%= books[i].borrowingDate ? books[i].borrowingDate.borrow_date : 'N/A' %></td>
                <td><%= books[i].borrowingDate ? books[i].borrowingDate.return_date : 'N/A' %></td> -->
                <td>
                    <a href="/book/<%= books[i].id %>">View</a>
                </td>
                <td>
                    <a href="/delete/<%= books[i].id %>">Delete</a>
                </td>
                <td></td>
            </tr>
        <% } %>
    </table>
    <a href="/create">Create New Book</a>
</body>
</html>
