<!-- book.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Book</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <h1><%= book.title %></h1>
    <p>Title: <%= book.title %></p>
    <p>Borrower: <%= book.borrower ? book.borrower.name : 'N/A' %></p>
    <% if (book.borrowingDate) { %>
        <p>Borrow Date: <%= book.borrowingDate.borrow_date ? book.borrowingDate.borrow_date : 'N/A' %></p>
        <p>Return Date: <%= book.borrowingDate.return_date ? book.borrowingDate.return_date : 'N/A' %></p>
    <% } else { %>
        <p>Borrow Date: N/A</p>
        <p>Return Date: N/A</p>
    <% } %>
    <a href="/update/<%= book.id %>">Edit</a>
    <a href="/delete/<%= book.id %>">Delete</a>
    <a href="/">Back to List</a>
</body>
</html>
