<!-- update.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Update Book</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <h1>Update Book</h1>
    <form method="post" action="/update/<%= book.id %>">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= book.title %>">
        <br>
        <label for="borrowerName">Borrower Name:</label>
        <input type="text" id="borrowerName" name="borrowerName" value="<%= book.borrower.name %>">
        <br>
        <label for="borrowDate">Borrow Date:</label>
        <input type="date" id="borrowDate" name="borrowDate" value="<%= book.borrowingDate ? book.borrowingDate.borrow_date : '' %>">
        <br>
        <label for="returnDate">Return Date:</label>
        <input type="date" id="returnDate" name="returnDate" value="<%= book.borrowingDate ? book.borrowingDate.return_date : '' %>">

        <br>
        <input type="submit" value="Update">
    </form>
    <a href="/book/<%= book.id %>">View</a>
    <a href="/delete/<%= book.id %>">Delete</a>
    <a href="/">Back to List</a>
</body>
</html>